<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<header>


</header>
<body>
    Hello my friend
    {% for i in orders %}
    <li>{{ i.name }}</li>
        Адрес: {{ i.address }}
        Выбор: {{ i.choice }}



    {% endfor %}
    <br>
    <br>
    <a href="{% url 'orders' %}">Create</a>
    <br>
    <a href="{% url 'create' %}">Create</a>
    <br>
    <a href="{% url 'current' %}">Current pizzas</a>
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>
