{% load static %}

<link rel="stylesheet" href="{% static 'css/order.css' %}">
<html lang="ru">
  <head>
    <meta charset="utf-8">
        <title>ПИЦЦЫ</title>
    </head>
<body style="background-color:AliceBlue;">
<header>
    <h1 style="background-color:powderblue;" align="center"> Сделай заказ </h1>
        </header>

    <form method="post" enctype="multipart/form-data">

        {{order.first_name}}<br>
        {{order.last_name}}<br>
        {{order.address}}<br>
        {{order.products}}<br>
        {{order.amount}}<br>

        <span> {{error}} </span>

    <input type="submit">

</form>
<footer>

        <p align="right"><a href="https://github.com/Voronova-Alex"> Все сам</a>, 2021</p>
         <p align="right"><a href=https://www.youtube.com/watch?v=8QnMxrNT0-8&t=153s"> Спасибо</a>, 2021</p>

    </footer>

</html>