<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for post in posts %}
    <div>
        <h3>{{ post.name }}</h3>
        <div>
            <img src="{{ post.photo.url }}" alt="{{ post.name }}">
<!--            <h1>{{ tosts }}</h1>-->

        </div>
    <hr>
{% endfor %}
    </div>

    <div>
        <div>
            {% for tost in tosts %}
                {% if tost.is_working_day and tost.day == today %}
                    Сегодня работают:
	                {{ tost.team }}
		        {% endif %}
            {% endfor %}


        </div>
<a href="http://127.0.0.1:8000/create">Создать расписание на месяц</a>
    </div>
    <hr>


</body>
</html>
