<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for post in posts %}
    <div>
        <h3>{{ post.name }}</h3>
        <div>
            <img src="{{ post.photo.url }}" alt="{{ post.name }}">
<!--            <h1>{{ tosts }}</h1>-->

        </div>
    <hr>
{% endfor %}
    </div>

    <div>
        <div>
            {% for tost in tosts %}
                {% if tost.is_working_day and tost.day == today %}
                    Сегодня работают:
	                {{ tost.team }}
		        {% endif %}
            {% endfor %}


        </div>

    </div>
    <hr>


</body>
</html>

    team = models.ForeignKey(Team, on_delete=models.CASCADE)
    day = models.DateField()
    is_working_day = models.BooleanField()
    manager = models.ForeignKey(Employee, related_name='incharge', on_delete=models.CASCADE, null=True)